@model IEnumerable<GetAllLessonsViewModel>

@{
    ViewData["Title"] = "All lessons";

    bool areLessonInDatabase = Model.Count() != 0;
}

<div class="d-flex justify-content-between align-items-center">
    <h1>All lessons</h1>

    @if (this.User.Identity.IsAuthenticated)
    {
        <div>
            <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
        </div>
    }
</div>

@if (areLessonInDatabase)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Action links
                </th>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <th>
                        Enroll/Disenroll
                    </th>
                }
            </tr>
        </thead>
        <tbody class="table-rows-vertically-centered">
            @foreach (GetAllLessonsViewModel lesson in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => lesson.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = lesson.Id })
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <span>|</span>
                            @Html.ActionLink("Update", "Update", new { id = lesson.Id })

                            @if (this.User.IsInRole(RolesConstants.AdminRoleName))
                            {
                                <span>|</span>
                                @Html.ActionLink("Delete", "Delete", new { id = lesson.Id })
                            }
                        }
                    </td>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <td>
                            @{
                                bool noSeatsLeft = lesson.SeatsLeft.HasValue && lesson.SeatsLeft.Value == 0;
                            }
                            @if (lesson.CurrentUserIsEnrolled)
                            {
                                <a asp-area="Learning"
                                   asp-controller="Lessons"
                                   asp-action="Disenroll"
                                   asp-route-id="@lesson.Id"
                                   class="btn btn-outline-danger w-25">
                                    Disenroll
                                </a>
                            }
                            else
                            {
                                @if (noSeatsLeft)
                                {
                                    <button disabled class="btn btn-outline-secondary w-25">Enroll</button>
                                }
                                else
                                {
                                    <a asp-area="Learning"
                                       asp-controller="Lessons"
                                       asp-action="Enroll"
                                       asp-route-id="@lesson.Id"
                                       class="btn btn-outline-success w-25">
                                        Enroll
                                    </a>
                                }
                            }

                            @if (lesson.SeatsLeft.HasValue)
                            {
                                <span class="text-secondary">(@lesson.SeatsLeft.Value seats left)</span>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No lessons to display.</p>
}
