@model LessonViewModel

@{
    ViewData["Title"] = Model.Name;

    bool isPresentationDateNull = Model.PresentationDate == null;
    bool areSeatsNull = Model.Seats == null;
}

<h1>Details</h1>

<div>
    <h4>DetailsLessonViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnline)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsOnline)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PresentationDate)
        </dt>
        <dd class="col-sm-10">
            @if (isPresentationDateNull)
            {
                <span>Not set</span>
            }
            else
            {
                @Html.DisplayFor(model => model.PresentationDate)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class="col-sm-10">
            @if (areSeatsNull)
            {
                <span>Not set</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Seats)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
    </dl>
</div>
<div>

    @if (this.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Update", "Update", new { id = Model.Id })
        <span>|</span>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
