@model SubjectsViewModel

@{
    ViewData["Title"] = "All subjects";
}

@{
    if (Model.Username == "Gosho")
    {
        <h1>Subjects index view</h1>
    }
    else
    {
        <h1>Log in to continue</h1>
    }
}

<p>@Model.TimeNow</p>

<div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <div>
            <a class="btn btn-outline-primary" asp-action="Create">Create subject</a>
        </div>
    }
    <ul class="mt-3">
        @{
            foreach (var subject in Model.Subjects)
            {
                <li>
                    <a asp-controller="Subjects" asp-action="Details" asp-route-id="@subject.Id">
                        @subject.Name
                    </a>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <span>|</span>
                        <a asp-controller="Subjects" asp-action="Update" asp-route-id="@subject.Id">
                            Update
                        </a>

                        @if (this.User.IsInRole(RolesConstants.AdminRoleName))
                        {
                            <span>|</span>
                            <a asp-controller="Subjects" asp-action="Delete" asp-route-id="@subject.Id">
                                Delete
                            </a>
                        }
                    }
                </li>
            }
        }
    </ul>
</div>
