@{
    @model SubjectsViewModel
}

@{
    if (Model.Username == "Gosho")
    {
        <h1>Subjects index view</h1>
    }
    else
    {
        <h1>Log in to continue</h1>
    }
}

<p>@Model.TimeNow</p>

<div>
    <ul>
        @{
            foreach (var subject in Model.Subjects)
            {
                <li>
                    <a asp-controller="Subjects" asp-action="Details" asp-route-id="@subject.Id">
                        @subject.Name
                    </a>
                    |
                    <a asp-controller="Subjects" asp-action="Update" asp-route-id="@subject.Id">
                        Update
                    </a>
                    |
                    <a asp-controller="Subjects" asp-action="Delete" asp-route-id="@subject.Id">
                        Delete
                    </a>
                </li>
            }
        }
    </ul>
</div>
